In [14]:
import pandas as pd
import numpy as np
import scipy.stats as stats
import statsmodels.stats.api as sms
from statsmodels.stats.proportion import proportions_ztest, proportion_confint

In [2]:
ab_data = pd.read_csv('/Users/laurenwagner/Downloads/ab_data.csv')

In [3]:
ab_data.head()

   user_id                   timestamp      group landing_page  converted
0   851104  2017-01-21 22:11:48.556739    control     old_page          0
1   804228  2017-01-12 08:01:45.159739    control     old_page          0
2   661590  2017-01-11 16:55:06.154213  treatment     new_page          0
3   853541  2017-01-08 18:28:03.143765  treatment     new_page          0
4   864975  2017-01-21 01:52:26.210827    control     old_page          1

In [10]:
# Data Cleaning
ab_clean = ab_data.drop_duplicates('user_id', keep='first')
ab_clean = ab_clean.dropna()
ab_clean = ab_clean.loc[((ab_clean['group']=='control') & (ab_clean['landing_page']=='old_page')) | 
                       ((ab_clean['group']=='treatment') & (ab_clean['landing_page']=='new_page'))]
ab_clean.head()

   user_id                   timestamp      group landing_page  converted
0   851104  2017-01-21 22:11:48.556739    control     old_page          0
1   804228  2017-01-12 08:01:45.159739    control     old_page          0
2   661590  2017-01-11 16:55:06.154213  treatment     new_page          0
3   853541  2017-01-08 18:28:03.143765  treatment     new_page          0
4   864975  2017-01-21 01:52:26.210827    control     old_page          1

In [24]:
count = [ab_clean[ab_clean['group'] == 'control']['converted'].sum(), ab_clean[ab_clean['group'] == 'treatment']['converted'].sum()]
nobs = [ab_clean[ab_clean['group']=='control'].shape[0], ab_clean[ab_clean['group']=='treatment'].shape[0]]
control_suc = count[0]/nobs[0]
treat_suc = count[1]/nobs[1]
print(control_suc, treat_suc)

0.12029037760181936 0.11872721981235362

In [25]:
z_stat, pval = proportions_ztest(count=count, 
                                 nobs=nobs)

In [26]:
print(pval)

0.19558364287881436